@*
    *   Copyright (c) 2018 Terrance Caughman.
    *
    *   Permission is hereby granted, free of charge, to any person obtaining a copy
    *   of this software and associated documentation files (the "Software"), to deal
    *   in the Software without restriction, including without limitation the rights
    *   to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    *   copies of the Software, and to permit persons to whom the Software is
    *   furnished to do so, subject to the following conditions:
    *
    *   The above copyright notice and this permission notice shall be included in
    *   all copies or substantial portions of the Software.
    *
    *   THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    *   IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    *   FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    *   AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    *   LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    *   OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
    *   THE SOFTWARE.
*@

@page
@using Petfinder.API.Responses
@using Pet = Petfinder.API.Responses.Pet
@model IndexModel
@{
    ViewData["Title"] = "Availability";
}

<div id="app">
    <div class="row">
        <nav class="navbar">
            <button type="button" class="btn btn-primary" v-on:click="getPets">Refresh</button>
        </nav>
    </div>

    <h2>Pets</h2>
    <div class="row" v-for="pet in pets">
        <div class="col-md-4">
            <div class="thumbnail">
                <img :src="pet.imageUrl" />
                <div class="caption">
                    <p>
                        Name: {{ pet.name }}
                        <br> Breed:{{pet.breed}}
                        <br> Type: {{ pet.type}}
                    </p>
                </div>
            </div>
        </div>




    </div>


    @section Scripts {
        <script type="text/javascript">

            const app = new Vue({
                el: "#app",
                data: {
                    apiUrl: "",
                    pets: []
                },
                methods: {
                    getPets: async function () {

                        const url = this.apiUrl === "" ? "" : this.apiUrl;

                        try {

                            const response = await axios.get(`${url}/api/pets/`);
                            this.pets = response.data;

                        } catch (ex) {
                            console.error(`Unable to retrieve the pets collection due to '${ex}'`);
                        }
                    }
                }
            });

            app.getPets();

        </script>
    }
